<div *ngIf="it" class="{{mode}}">
  <h2>Data Details</h2>
  <h3>Patient</h3>
  <!--
      Need to make data editable
      <input [(ngModel)]="it.firstName" placeholder="First Name" />
  -->
  <div class="row">
    <div class="col"><label>First Name:</label> {{it.firstName}}</div>
    <div class="col"><label>Last Name:</label> {{it.lastName}}</div>
  </div>
  <div class="row">
    <div class="col"><label>Street Address:</label> it.address</div>
    <div class="col"><label>State:</label> {{it.state}}</div>
  </div>
  <div class="row">
    <div class="col"><label>Zip Code:</label> {{it.zipCode}}</div>
    <div class="col"><label>Phone Number:</label> {{it.phone}}</div>
  </div>
  <div class="row">
    <div class="col"><label>Employer:</label> {{it.employer}}</div>
  </div>

  <h3>Insurance</h3>
  <div class="row">
    <div class="col"><label>Insurance Provider:</label> {{it.iProvider}}</div>
  </div>
  <div class="row">
    <div class="col"><label>Plan #</label> {{it.iPlanNum}}</div>
  </div>

  <button (click)="doTheThing()">Save</button>

</div>
