<nav class="main-menu navbar navbar-expand-md navbar-light bg-light">
  <a id="brand-logo" class="navbar-brand" href="#">Data-fLo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-togglable"
      aria-controls="navbar-togglable" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar-togglable">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active"><a id="nav-about" href="#about" class="nav-link">About<span class="sr-only">(current)</span></a></li>
      <li class="nav-item"><a id="nav-data" href="#data" class="nav-link">View Data</a></li>
      <li class="nav-item"><a id="nav-entry" href="#entry" class="nav-link">Enter Data</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
